# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - List popular libraries for Data Science
 - List tools of Data Science
 - Show arithmetic operations in python

Some of the popular languages that Data Scientists use are:
 1. python
 2. java
 3. R

Some of the commonly used libraries used by Data Scientists include:
 1. numpy
 2. pandas
 4. scipy

| Data Science Tools |
| --- | 
| Data Asset eXchange |
| Model Asset eXchange |
| Model Asset eXchange |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Yair Mazal